li{
    list-style-type: none;
}

#found-word{
    width: 100%;
    height: 260px;
    overflow-y: scroll;
}

#list{
    height: 550px;
    overflow-y: scroll;
}

#found-number{

}

#found-number-label{
    
}